.App {
  height: inherit;
  text-align: center;
}
body, html {
  height: 100%; 
}

.homePage {
  height: inherit;
  background-image: url('/images/background.jpeg');
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  opacity: 0.8;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
