.social-bar {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45px;
    margin-right: 0px;
    margin-bottom: 100px;
    position: fixed;
    bottom: 0;
}

.socialbar-item {
    margin: 10px;
    width:40px;
}